<html>
<head>
<title>activity_chatactinity.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_chatactinity.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>
<span class="s0">&lt;RelativeLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">tools:context</span><span class="s2">=&quot;.chatactinity&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;#AC6C6C&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;androidx.appcompat.widget.Toolbar</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;?attr/actionBarSize&quot;</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/chattoolbar&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#6AC9D8&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;/androidx.appcompat.widget.Toolbar&gt;</span>
    <span class="s0">&lt;androidx.recyclerview.widget.RecyclerView</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/chatrecycler&quot;</span>
        <span class="s1">tools:layout_editor_absoluteY</span><span class="s2">=&quot;15dp&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;6dp&quot;</span>
        <span class="s1">android:layout_below</span><span class="s2">=&quot;@id/chattoolbar&quot;</span>
        <span class="s1">android:layout_above</span><span class="s2">=&quot;@id/linear&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;/androidx.recyclerview.widget.RecyclerView&gt;</span>


    <span class="s3">-</span><span class="s0">&lt;LinearLayout </span><span class="s1">android:orientation</span><span class="s2">=&quot;horizontal&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;62dp&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;395dp&quot;</span>
    <span class="s1">android:id</span><span class="s2">=&quot;@+id/linear&quot;</span>
    <span class="s1">tools:ignore</span><span class="s2">=&quot;MissingConstraints&quot;</span>
    <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;7dp&quot;</span>
    <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;0dp&quot;</span>
    <span class="s1">android:layout_alignParentBottom</span><span class="s2">=&quot;true&quot;</span>
    <span class="s1">android:layout_alignParentStart</span><span class="s2">=&quot;true&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;Button </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;60dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/ic_baseline_attach_file_24&quot;</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/send_file&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;NestedWeights&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;EditText </span><span class="s1">android:layout_height</span><span class="s2">=&quot;61dp&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;280dp&quot;</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/massege&quot;</span>
        <span class="s1">android:paddingRight</span><span class="s2">=&quot;20dp&quot;</span>
        <span class="s1">android:inputType</span><span class="s2">=&quot;textPersonName&quot;</span>
        <span class="s1">android:hint</span><span class="s2">=&quot;massege....&quot;</span>
        <span class="s1">android:ems</span><span class="s2">=&quot;10&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;Button </span><span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;61dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;@drawable/ic_baseline_send_24&quot;</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/send&quot;</span>
        <span class="s1">tools:ignore</span><span class="s2">=&quot;NestedWeights&quot;</span><span class="s0">/&gt;</span>

<span class="s0">&lt;/LinearLayout&gt;</span>
<span class="s0">&lt;/RelativeLayout&gt;</span></pre>
</body>
</html>